*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    width: 100px;
    height: 30px;

    background-color: #c9b51a;
    border-style: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;   
}

/*  */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    font-family: Georgia;
}

.header{
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid #c9b51a;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h1{
    font-size: 1.9rem;
    text-transform: uppercase;

    color: #474747;
}

.blue{
    color: #080078;
}

.yellow{
    color: #c9b51a;
}


/*  */
/*  */
/*  */
/*  */

main{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container, .modal-price, .modal-checking-copy{
    width: 30vw;
    padding: 10px;
    
    border: 1px solid #080078;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #474747;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container h2, .modal-price h2, .modal-checking-copy h2{
    width: 100%;
    
    font-size: 30px;
    color: #474747;
    text-align: center;
}

.container-input{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.input-name{
    width: 35%;
    text-align: right;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-name h3{
    width: 100%;
    padding-top: 0px;

    font-size: 18px;
    color: #474747;
}

.input{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.input > input{
    width: 100%;
    height: 20px;
    padding-left: 5px;
    
    font-size: 18px;
    color: #474747;
    border-radius: 8px;
    border-style: none;
    outline-style: none;
    border: 1px solid #080078;
}

.container-buttons{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

    
}

/*  */
/*  */

.table{
    width: 60vw;
    border-collapse: collapse;
    user-select: none;
}

.table thead{
    border: 1px solid #080078;
    
    font-size: 18px;
    color: #474747;
    text-align: left;
    
}

.table thead th{
    height: 40px;
    padding-left: 5px;
}

.table thead th:last-child,
.table tbody td:last-child{
   text-align: center;
}

.table tbody td:last-child > #blue{
    background-color: #080078;
}

.table tbody tr{
    border-bottom: 1px solid #c9b51a;
   
    color: #474747;
    text-align: left;
}

.table tbody td{
    height: 60px;
    padding-left: 10px;
}

/**/
/**/
/**/
/**/

.modal-content{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -500;

    display: flex;
    justify-content: center;
    
    background-color: #47474791;
    opacity: 0;
}


.modal-price{
    width: 40vw;
    margin-top: 90px;
    
    position: fixed;
    z-index: -200;
    opacity: 0;
}

.modal-checking-copy input{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #080078;

    cursor: initial;
}

.modal-checking-copy{
    width: 40vw;
    margin-top: 90px;
    
    position: fixed;

    z-index: -300;
    opacity: 0;
}

.title-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-logo > h2{
    width: 50%;
    margin-top: 10px;
}





